body { 
	margin-top:20px; 
	padding-top: 40px;
	padding-left: 10px;
	padding-right: 10px;
}

h2 {
	text-align: center;
}
.panel-title {display: inline;font-weight: bold;}
.checkbox.pull-right { margin: 0; }
.pl-ziro { padding-left: 0px; }

.container {
	text-align: left;
	padding-top: 20px;
}

.container1 {
	padding-top: 20px;
	text-align: left;
}

.buttonHolder {
	text-align: center;
}
