body {
  color:#333;
  text-align: center;
  text-shadow: 1 1px 3px rgba(0,0,0,.5);
  padding-top: 70px;
}
.form-group {
  max-width: 600px;
  padding: 15px;
  margin: 0 auto;
}

h1 {
	padding-bottom: 20px;
}